/* Media Queries phones 600px and under */

@media only screen and (max-width: 600px) {
  
  /* Overall Layout */

  header {
    height: 100px;
  }
  #headerImage {
    height: 80px;
  }

  header h1 {
    display: none;
    font-size: 3em;
  }

  header li {
    font-size: 1.5em;
  }

  .wrapper {
    margin: 0;
  }

  .topNav {
    margin-top: 200px;
    display: inline-block;
    width: 220%;
  }

  .topNavLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
    list-style: none;
    font-size: 2.3em;
  }

  .top-nav-link, .top-nav-link a {
    text-decoration: none;
    color: black;
    margin-top: 65px;
  }

  .top-nav-link:first-child {
    margin-top: 0;
  }

  .leftBar {
    display: none;
    /* height: 5vh;
    margin-top: 150px;
    width: 51.8em;
    position: static; */
  }

  /* .navlinks {
    display: flex;
    margin: 0;
  }

  .nav-link {
    margin: 0;
    font-size: 2.5em;
    margin-left: 1.5em;
  } */

  .contactUs {
    width: 100%;
    z-index: 10;
    background: rgba(24, 59, 84, 0.5);
  }

  .contactUs img {
    height: 70px;
    width: 70px;
  }

  /* Main content and Index Page */
  
  main {
    width: 100%;
    padding: 0;
    margin: 150px 0 0 0;
  }

  .sectionHeading {
    font-size: 4em;
  }

  #nikeheader {
    display: none;
    /* height: 350px; */
  }

  #newestProducts {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .nikeshoe {
    width: 100%;
    height: 180%;
    filter:grayscale(0%);
  }

  .nikeshoe:hover {
    width: 100%;
  }

  .productContainer {
    margin-bottom: 600px;
  }

  .productContainer h2 {
    font-size: 3em;
  }

  .productContainer p {
    font-size: 2em;
    padding: 0 0 0 40px;
  }

  .itemUnavailable {
    margin-top: 30px;
  }

  .endSectionLine {
    display: none;
  }

  #endSectionLinebigWidth {
    display:none;
  }

  #upcomingProducts {
    flex-direction: column;
  }

  .imageDescription p {
    font-size: 3.5em;
    width: 650px;
  }

  /* About Page */

  .aboutUs {
    width: 100%;
  }

  .aboutUs>img {
    height: 800px;
  }

  .aboutUsText {
    width: 80%;
  }

  .aboutUsText h1 {
    font-size: 4em;
  }

  .aboutUsText p {
    font-size: 2em;
    width: 100%;
  }

  .aboutUsText>p:last-child {
    margin-top: 40px;
  }

  /* Contact Page */

  #firstRowContact {
    flex-direction: column;
  }

  .contactPageHeading {
    font-size: 3.5em;
  }

  #firstRowContact h3 {
    font-size: 2.5em;
  }

  #firstRowContact p {
    font-size: 2em;
  }

  #contactPhone p {
    margin: 10px;
  }

  #secondRowContact {
    margin-bottom: 150px;
  }

  #email {
    font-size: 2em;
    padding: 10px;
    border: 1px solid black;
  }

  #contactFormSubmit {
    align-self: flex-start;
    width: 50%;
    height: 50px;
    font-size: 2.5em;
    margin-top: 20px;
  }

  #gmaps {
    width: 97%;
    height: 500px;
  }

  /* Gallery Page */

  .grid-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid-item {
    border: 0;
    font-size: 2em;
  }

  .grid-item p {
    margin: 20px 0 5px 0;
  }

  .grid-item button {
    margin-bottom: 20px;
    height: 50px;
    font-size: 1.6rem;
  }

  .grid-container {
    margin-bottom: 6900px;
  }

  .grid-item-tag {
    height: 80px;
    font-size: 2rem;
    margin-top: 20px;
  }
}