@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  background: white;
  color: #000;
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 80px;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.87);
  color: black;
  z-index: 1;
}

#headerImage {
  height: 25px;
  align-self: center;
}

header h1 {
  margin: 20px 0 0 0;
}

header ul {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8em;
  list-style: none;
}

header ul li {
  margin-right: 15px;
}

/* Left navigation bar, wrapper wraps main and left bar */

.wrapper {
  margin-top: 80px;
}

.leftBar {
  height: 75vh;
  width: 20vw;
  min-width: 150px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  margin: 95px 0 0 65px;
  list-style: none;
  font-size: 0.9em;
}

.nav-link, .nav-link a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.nav-link:first-child {
  margin: 0;
}

/* Main content */

main {
  padding: 50px 0 0 20px;
  margin-left: 20vw;
  width: 60vw;
  min-width: 830px;
}

.itemUnavailable {
  font-size: 0.8em;
}

.sectionHeading {
  margin: 40px 0 10px 0;
  font-size: 1.4em;
  font-weight: 200;
  text-align: left;
}

#nikeheader {
  height: 280px;
  width: 100%;
  min-width: 550px;
}

#newestProducts {
  display: flex;
  justify-content: space-around;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContainer p {
  margin-top: 7px;
}

/* Featured Footwear */

.nikeshoe {
  width: 19vw;
  min-width: 215px;
  filter: grayscale(50%);
  transition: 1.5s width;
}

.nikeshoe:hover {
  transition: 1.5s;
  width: 21vw;
  filter: grayscale(0%)
}

.endSectionLine {
  margin: 30px 0 60px 0;
  border-top: 3px solid black;
}

/* Upcoming Footwear */

#upcomingProducts {
  display: flex;
  width: 100%;
  min-width: 80%;
  margin: 0 0 40px 0;
  justify-content: space-between;
}

.descOnImage {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.shoeUpcoming {
  width: 100%;
  height: 950px;
  filter:grayscale(20%)
}

.shoeUpcoming:hover {
  transition: 0.5s;
  filter: grayscale(0%);
}

.descOnImage p {
  width: 500px;
  position: absolute;
  color: white;
  padding: 0 0 40px 40px;
  font-size: 2em;
  z-index: 1;
}

/* Contact & Social Media footer */

.contactUs {
  position: fixed;
  bottom: 0;
  width: 20%;
  min-width: 150px;
  padding: 5px 0 3px 0;
  font-size: 1em;
  /* background: rgba(24, 59, 84, 0.9); */
  border-radius: 3px;
  color: white;
}

.contactUs img {
  margin-left: 5px;
}

#socialmedia {
  display: flex;
  justify-content: center;
}