@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, html {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  background: white;
  color: #000;
}

/* Header */

header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 80px;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.87);
  color: black;
  z-index: 1;
}

#headerImage {
  height: 25px;
  align-self: center;
}

header h1 {
  margin: 20px 0 0 0;
}

header ul {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8em;
  list-style: none;
}

header ul li {
  margin-right: 15px;
}

/* Left navigation bar, wrapper wraps main and left bar */

.wrapper {
  margin-top: 80px;
}

.topNav {
  display: none;
}

.leftBar {
  height: 75vh;
  min-width: 150px;
  width: 20vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  margin: 95px 0 0 65px;
  list-style: none;
  font-size: 0.9em;
}

.nav-link, .nav-link a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.nav-link:first-child {
  margin: 0;
}

/* Social Media buttons on the bottom-left*/

.contactUs {
  position: fixed;
  bottom: 0;
  width: 20%;
  min-width: 150px;
  padding: 5px 0 3px 0;
  font-size: 1em;
  /* background: rgba(24, 59, 84, 0.9); */
  border-radius: 3px;
  color: white;
}

.contactUs img {
  margin-left: 5px;
}

#socialmedia {
  display: flex;
  justify-content: center;
}

/* Main content */

main {
  padding: 50px 0 0 20px;
  margin-left: 20vw;
  min-width: 830px;
  width: 60vw;
}

.itemUnavailable {
  font-size: 0.8em;
}

.sectionHeading {
  font-size: 1.4em;
  font-weight: 200;
  text-align: left;
}

.mainHeading {
  margin: 60px 0 10px 0;
}

#nikeheader {
  height: 280px;
  width: 100%;
  min-width: 550px;
}

#newestProducts {
  display: flex;
  justify-content: space-around;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 375px;
}

.productContainer p {
  margin-top: 7px;
}

/* Featured Footwear */

.nikeshoe {
  display: flex;
  width: 19vw;
  min-width: 215px;
  filter: grayscale(50%);
  transition: 1.5s width;
}

.nikeshoe:hover {
  transition: 1.5s;
  width: 21vw;
  filter: grayscale(0%)
}

.endSectionLine {
  margin: 0 0 50px 0;
  border-top: 3px solid black;
}

#endSectionLinebigWidth {
  width: 105%;
}

/* Upcoming Footwear */

#upcomingProducts {
  display: flex;
  width: 100%;
  min-width: 80%;
  margin: 0 0 40px 0;
  justify-content: space-between;
}

.shoeUpcoming {
  width: 100%;
  height: 950px;
  filter:grayscale(20%)
}

.shoeUpcoming:hover {
  transition: 0.5s;
  filter: grayscale(0%);
}

.imageDescription {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.imageDescription p {
  width: 500px;
  position: absolute;
  color: white;
  padding: 0 0 40px 40px;
  font-size: 2em;
  z-index: 1;
}

/* Next page: About */

.aboutUs {
  background: #fcfcfc;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutUs>img {
  width: 100%;
}

.aboutUs h1 {
  margin: 70px 0 10px 0;
  font-size: 2.4rem;
  align-self: center;
}

.aboutUsText {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 100px;
  font-weight: 600;
  line-height: 2.7;
}

.aboutUsText>p:last-child {
  margin-top: 25px;
}

/* Contact Page */

.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0 0 20px;
}

#firstRowContact {
  display: flex;
}

#firstRowContact iframe {
  margin-top: 60px;
}

.contactPageHeading {
  margin-bottom: 15px;
}

#contactPhone h3 {
  margin: 25px 0 5px 0;
}

#contactPhone p {
  margin: 2px;
}

/* Part of Contact Page: Newsletter */

#secondRowContact {
  margin-top: 40px;
}

#contactForm {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

#gmaps {
  width: 450px; 
  height: 300px;
}

#email {
  padding: 3px;
  width: 18em;
  font-size: 0.75em;
}

#contactFormSubmit {
  margin-top: 10px;
  cursor: pointer;
  padding: 3px;
  align-self: center;
  width: 10em;
  background-color: #ff8e1f;
  border-radius: 1px;
  border: 0;
}

#contactFormSubmit:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 8px 21px -147px rgba(0,0,0,0.49);
  -moz-box-shadow: 2px 8px 21px -147px rgba(0,0,0,0.49);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.49);
}